.buttonRow{
    padding-top: 2%;
    padding-bottom: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.btn btn-primary btn-lg{
    padding-top:10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    
}

.btn btn-primary {
    margin-top: 2%;
    margin-bottom:2%;
    padding-top:10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}